doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Confirm Login
    body 
        h1 Hi #{user.name}! Confirm 2FA

        form(action="", method="post")
            input(type="text", name="token", autocompete="off", pattern="[0-9]{6}", placeholder="enter otp")
            button(type="submit") Confirm