doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signup
    body 
        h1 Signup
        if error
            p 
                strong Error: 
                span #{error}

        form(action="/signup", method="post") 
            table 
                tr
                    td Fullname
                    td 
                        input(type="text", name="name", value=user.name)
                tr
                    td Email
                    td
                        input(type="email", name="email", value=user.email)

                tr
                    td Password
                    td
                        input(type="password", name="password")
                tr(colspan=2, style="width: 100%")
                    td
                        button(type="submit" style="width: 100%") Submit